# Core & Utilities
python-dotenv
pydantic
structlog
tenacity
hvac
redis

# Blockchain & Web
web3
requests

# Async & I/O
aiofiles
aiohttp
websockets

# GCP & Monitoring
google-cloud-secret-manager
google-cloud-storage
google-api-core
prometheus-client
sentry-sdk

# Testing
pytest

toxiproxy-python-client @ git+https://github.com/Shopify/toxiproxy-python-client.git

